<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Educación 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore laudantium saepe, voluptatem quo rem laborum illo, quisquam alias quasi ipsam sunt numquam quidem vel tempora aliquam. Deleniti id deserunt sunt!</p>
        </ul>
        <ul>
            <li>
                <h1>Educación 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore laudantium saepe, voluptatem quo rem laborum illo, quisquam alias quasi ipsam sunt numquam quidem vel tempora aliquam. Deleniti id deserunt sunt!</p>
        </ul>
</div>
